.home {
    display: block;
    padding: 16px;
}

.home__dropDown {
    float: right;
    padding-bottom: 50px;
}

.home__button {
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    margin-right: 10%;
    margin-left: 10%;
    border: none;
    cursor: pointer;
    width: 80%;
}

.modal__option {
    float: right;
}


.modal__join {
    float: right;
}

.modal__input {
    border: 1px solid orange;
    padding: 6px;
}

.modal__label {
    margin: 3px;
    padding: 6px;
}

.modal__button {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 20%;
}
