.cardContainer {
    margin: auto;
    width: 90vw;
    max-width: 260px;
    height: 300px;
}

.swipe {
    position: absolute;
}

.card {
    position: relative;
    background-color: #fff;
    width: 80vw;
    max-width: 260px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.cardName {
    position: relative;
    color: black;
    width: 80vw;
    max-width: 260px;
    height: 50px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}